// fontawesome
link(rel="stylesheet" href="./plugin/fontawesome-free/css/all.css")
//bootstrap
link(rel="stylesheet" href="./plugin/bootstrap/css/bootstrap.min.css")
//OwlCarousel2
link(rel="stylesheet" href="./plugin/OwlCarousel2-2.3.4/owl.carousel.min.css")
link(rel="stylesheet" href="./plugin/OwlCarousel2-2.3.4/owl.theme.default.css")
// font google
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" )
// my app
link(rel="stylesheet" href="./css/app.min.css")
