script(src="./plugin/jquery/jquery.min.js")
script(src="./plugin/bootstrap/js/bootstrap.min.js")
script(src="./plugin/OwlCarousel2-2.3.4/owl.carousel.min.js")
script(src="./plugin/jquery.nicescroll-3.7.5/jquery.nicescroll.min.js")
script(src="http://localhost:35729/livereload.js")
script(src="./js/app.min.js")
